<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175911452677-1g1ioaje998ia4s38cql3loil5jvglme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175911452677-1g1ioaje998ia4s38cql3loil5jvglme</string>
	<key>API_KEY</key>
	<string>AIzaSyA61Q4sKIgX2KfXhsYuAnkFJKVLUOoEhjM</string>
	<key>GCM_SENDER_ID</key>
	<string>175911452677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>iasdvilaaurora7</string>
	<key>STORAGE_BUCKET</key>
	<string>iasdvilaaurora7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175911452677:ios:aa987b4b75a5596477dc6c</string>
</dict>
</plist>