rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userDoc() {
      return /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth.uid == userId;
    }

    match /chats/{id} {
      allow read, update: if userDoc() in resource.data.users;
      allow create: if userDoc() in request.resource.data.users;
    }

    match /chat_messages/{id} {
      allow read: if userDoc() in get(resource.data.chat).data.users;
      allow create: if userDoc() in get(request.resource.data.chat).data.users &&
                       userDoc() == request.resource.data.user;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /userPosts/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /postComments/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /friends/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /escala_sonoplastia/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /escala_pregadores/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /ensaio_musical/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /escola_sabatina/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /anuncios/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /limpeza/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /mini_musical/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /anotacoes/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /testedados/{id} {
      allow read, write: if true;
    }
  }
}
